<h1>Stupid Coaching</h1>

<br>

<div class="banner">
<h3><%=@question%></h3>
<p><%= "-You"%></p>
</div>

<br>
<br>
<br>
<br>

<div class="banner-coach" >
<h3><%=@answer%></h3>
<p><%= "-Your coach"%></p>
</div>

<br>
<br>
<br>
<%= link_to "Ask a new question", ask_path%>
